
<!doctype html>
<html>
<head>
    <title>GemiTek</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link rel="stylesheet" href="/assets/libs/bootstrap-4.6.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="/assets/libs/toastr/toastr.min.css">
     <link rel="stylesheet" href="/assets/icons/style.css">
    <link rel="stylesheet" href="/assets/styles/main.css?v=8">
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">GEMITEK</a>
            
             {{if not .token}}<a href="/auth/google" class="btn  btn-style-1 ml-auto">Login</a>{{end}}
             {{if .token}}
                
                <button class="btn btn-collaped-white d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle nav">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/></svg>
                </button>

                <div class="collapse navbar-collapse" id="navbarMain">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="/feedback">
                                <span class=" icon-commenting-o"></span> Feedback
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#modalNaptien">
                                <span class="icon-dollar"></span> Nạp tiền
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Hi, {{.displayName}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <button class="btn btn-link dropdown-item" id="logout">Logout</button>
                            </div>
                        </li>
                    </ul>
                </div>
            {{end}}
        </div>
    </nav>

    {{/* <div class="jumbotron text-center text-primary">
        <h1><span class="fa fa-lock"></span> Social Authentication</h1>
        <p>Login or Register with:</p>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> SignIn with Google</a>
    </div> */}}

    {{/* <section class="bg-signin-section section-hero">
        <div class="container ">
            <!-- Hero Section -->
            <div class="row align-items-center no-gutters">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="py-5 py-lg-0 text-center">
                        <h1 class="text-white display-4 font-weight-bold">Social Authentication</h1>
                        <a href="/auth/google" class="btn btn-style-1">Sign In</a>
                    </div>
                
                </div>
            </div>
        </div>
    </section> */}}

    {{/* <section class="bg-signin-section section-slide">
        <div id="carouselGames" id="slide-banner" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselGames" data-slide-to="0" class="active"></li>
                <li data-target="#carouselGames" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/assets/images/banners/banner1.jpg" class="d-block w-100" alt="banner1">
                </div>
                <div class="carousel-item">
                    <img src="/assets/images/banners/banner2.jpg" class="d-block w-100" alt="banner2">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselGames" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselGames" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            </div>
    </section> */}}
    
    <section class="section-games bg-white">
        <div class="container-fluid">
            <div class="pl-md-4 pr-md-4">
                {{if .listGameInfo}} 
                <div class="section-header">
                    <h2>Game mới nhất</h2>
                </div>
                <div class="game-grid-wrapper section-new-game">
                    <div id="new-game-grid" class="game-grid grid-col-4 gutter-medium row">
                        {{range .listGameInfo}}
                            {{ if .IsNewGame}}
                                {{if .Active}}
                                <div class="item col-xl-3 col-md-3 col-6">
                                    <a target="_blank" {{if not .Token}}href="/auth/google"{{end}} {{if .Token}}href="{{.Link}}{{.Token}}"{{end}}>
                                        <figure>
                                            <div class="game-img">
                                                <img src="/images?imageName=icon-{{.ServiceID}}.png" alt="{{.ServiceName}}" />
                                            </div>
                                            <figcaption class="text-center">
                                                <div class="d-table color-white">
                                                    <div class="d-table-cell align-middle">
                                                        <h3 class="game-name">{{.ServiceName}}</h3>
                                                        <div class="mt-3">
                                                            <button class="btn btn-sm btn-filter-game btn-style-1">Chơi ngay</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </div>
                                {{ end }}
                            {{ end }}
                        {{end}}
                    </div>
                </div>
                {{end}}
                {{/* <div class="row">
                    <div class="col-md-4 col-12">
                        <!-- Card -->
                        <div class="card mb-4 card-hover">
                            <a href="/auth/google">
                                <img src="/assets/images/games/game2.jpg" alt="game2" class=" card-img-top">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <!-- Card -->
                        <div class="card  mb-4 card-hover">
                            <a href="/auth/google">
                                <img src="/assets/images/games/game1.webp" alt="game1" class=" card-img-top">
                            </a>
                        </div>
                        <div class="card  mb-4 card-hover">
                            <a href="/auth/google">
                                <img src="/assets/images/games/game1.webp" alt="game1" class=" card-img-top">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <!-- Card -->
                        <div class="card  mb-4 card-hover">
                            <a href="/auth/google">
                                <img src="/assets/images/games/game1.webp" alt="game1" class=" card-img-top">
                            </a>
                        </div>
                        <div class="card  mb-4 card-hover">
                            <a href="/auth/google">
                                <img src="/assets/images/games/game1.webp" alt="game1" class=" card-img-top">
                            </a>
                        </div>
                    </div>
                </div> */}}
            </div>
        </div>
    </section>

    <section id="all-games" class="section-all-games">
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-lg-9 col-md-7 col-12">
                    <div class="row">
                        <div class="col-lg-9 col-md-12 col-12">
                            <div class="game-filter pt-4 pb-1">
                                <ul class="mb-1 p-0">
                                    <li class="list-inline-item"><a href="#" data-filter="*" class="btn btn-sm btn-filter-game actived">All</a></li>
                                    <li class="list-inline-item"><a href="#" data-filter=".fish" class="btn btn-sm btn-filter-game ">Fish game</a></li>
                                    <li class="list-inline-item"><a href="#" data-filter=".slot" class="btn btn-sm btn-filter-game ">Slot game</a></li>
                                    <li class="list-inline-item"><a href="#" data-filter=".rng" class="btn btn-sm btn-filter-game ">RNG game</a></li>
                                    <li class="list-inline-item"><a href="#" data-filter=".card" class="btn btn-sm btn-filter-game ">Card game</a></li>
                                    <li class="list-inline-item"><a href="#" data-filter=".chess" class="btn btn-sm btn-filter-game ">Chess game</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12 col-12">
                            <div class="game-search pt-4 pb-1">
                                <div class="form-group">
                                    <input type="text" placeholder="Search by Id or Name ..." autocomplete="off" class="form-control-plaintext color-white form-control form-control-sm" id="searchTerm">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- //.game-filter -->
                    <div class="game-grid-wrapper">
                        <div id="list-game" class="game-grid grid-col-4 gutter-medium row">
                            {{range .listGameInfo}}
                            {{if .Active}}
                                <div class="item col-xl-3 col-md-4 col-6 {{.Category}}">
                                    <a target="_blank" {{if not .Token}}href="/auth/google"{{end}} {{if .Token}}href="{{.Link}}{{.Token}}"{{end}}>
                                        <figure>
                                            <div class="game-img">
                                                <img src="/images?imageName=icon-{{.ServiceID}}.png" alt="{{.ServiceName}}" />
                                            </div>
                                            <figcaption class="text-center">
                                                <div class="d-table color-white">
                                                    <div class="d-table-cell align-middle">
                                                        <h3 class="game-name">{{.ServiceName}}</h3>
                                                        <div class="game-id invisible">{{.ServiceID}}</div>
                                                        <div class="mt-3">
                                                            <button class="btn btn-sm btn-filter-game btn-style-1">Chơi ngay</button>
                                                        </div>
                                                        {{/* <div class="game-amount">$<span>1.054.768.000</span></div> */}}
                                                    </div>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </div>
                                {{end}}
                            {{end}}
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-5 col-12 bg-black">
                    {{if .topWinnerChessData}} 
                        <div class="aside-module pt-4 pb-4">
                            <div class="aside-module-header">
                                <h3>Top cao thủ cờ úp</h3>
                            </div>
                            <div class="aside-module-body">
                            <table class="table table-dark">
                                <thead>
                                    <tr>
                                    <th scope="col">User</th>
                                    <th class="text-center text-success">Thắng</th>
                                    <th class="text-center text-warning">Hoà</th>
                                    <th class="text-center text-danger">Thua</th>
                                    </tr>
                                </thead>
                                <tbody style="font-size: .85rem">
                                    {{range .topWinnerChessData}}
                                    <tr>
                                        <td>{{.User.DisplayName}}</td>
                                        <td class="text-center text-success">{{.TotalWinCount}}</td>
                                        <td class="text-center text-warning">{{.TotalDrawCount}}</td>
                                        <td class="text-center text-danger">{{.TotalLoseCount}}</td>
                                    </tr>
                                    {{end}}
                                </tbody>
                                </table>
                                {{/* <ul class="list-group list-group-flush list-jp">
                                    {{range .topWinnerChessData}}
                                    <li class="list-group-item">
                                        <div class="media">
                                            <div class="media-body">
                                                <div class="jp-winner-name">{{.User.DisplayName}}</div>
                                                <div class="jp-game-name">{{.User.UserID}}</div>
                                            </div>
                                            <div class="jp-winner-total">
                                                {{ .TotalWinCount}} <span class="jp-game-name">thắng</span>
                                            </div>
                                        </div>
                                    </li>
                                    {{end}}
                                </ul> */}}
                            </div>
                        </div> 
                    {{end}}
                    {{if .jackpotData}} 
                        <div class="aside-module pt-4 pb-4">
                            <div class="aside-module-header">
                                <h3>Top nổ hũ gần đây</h3>
                            </div>
                            <div class="aside-module-body">
                                <ul id="jp-body" class="list-group list-group-flush list-jp">
                                    {{range .jackpotData}}
                                    <li class="list-group-item">
                                        <div class="media">
                                            <div class="media-body">
                                                
                                                <div class="jp-winner-name">{{.DisplayName}}</div>
                                                <div class="jp-game-name">{{.DisplayName}}</div>
                                            </div>
                                            <div class="jp-winner-total">
                                                {{ .JackpotAmount}}
                                            </div>
                                        </div>
                                    </li>
                                    {{end}}
                                </ul>
                            </div>
                        </div> 
                    {{end}}
                    
                    <div class="aside-module pt-4 pb-4">
                        <div class="aside-module-header">
                            <h3>Top người thắng hôm nay</h3>
                        </div>
                        <div class="aside-module-body">
                            <ul id="top-winners-nav" class="nav nav-pills nav-fill mt-4 mb-4">
                                <li class="nav-item nav-top-winner" data-cat="all">
                                    <a class="nav-link active">All</a>
                                </li>
                                <li class="nav-item nav-top-winner" data-cat="slot">
                                    <a class="nav-link">Slot</a>
                                </li>
                                <li class="nav-item nav-top-winner" data-cat="rng">
                                    <a class="nav-link">RNG</a>
                                </li>
                                <li class="nav-item nav-top-winner" data-cat="fish">
                                    <a class="nav-link">Fish</a>
                                </li>
                                <li class="nav-item nav-top-winner" data-cat="card">
                                    <a class="nav-link">Card</a>
                                </li>
                                <li class="nav-item nav-top-winner" data-cat="chess">
                                    <a class="nav-link">Chess</a>
                                </li>
                            </ul>
                            

                            <ul id="top-winners-body" class="list-group list-group-flush list-jp position-relative">
                                {{/* {{range .topWinnerData}}
                                <li class="list-group-item">
                                    <div class="media">
                                        <div class="media-body">
                                            <div class="jp-winner-name">{{.DisplayName}}</div>
                                        </div>
                                        <div class="jp-winner-total">
                                            {{.TotalWinLoss}}
                                        </div>
                                        
                                    </div>
                                </li>
                                {{end}} */}}
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    
  </div>
  
</div>
<footer class="footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-12 text-center pt-2 pb-2">
                <span>© 2021 company. All Rights Reserved.</span>
            </div>
        </div>
    </div>
</footer>

<!-- Modal Nap tien-->
<div class="modal fade" id="modalNaptien" tabindex="-1" aria-labelledby="naptienModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered color-dark">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="naptienModalLabel">Nạp tiền</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Nạp 2.000.000 đ vào tài khoản?</p>
        <div class="mt-3 text-center">
            <button type="button" class="btn btn-primary btn-block" id="btn-naptien">Đồng ý</button>
        </div>
      </div>
    </div>
  </div>
</div>
{{/* 
<div class="position-fixed bottom-0 right-0 p-3" style="z-index: 999; right: 0; top: 100px;">
  <div id="toastMsg" class="toast show" role="alert" aria-live="assertive" aria-atomic="true" data-delay="0">
    <div class="toast-body color-dark">
      Hello, world! This is a toast message.
    </div>
  </div>
</div> */}}

<script src="/assets/libs/jquery/jquery-3.5.1.min.js"></script>
<script src="/assets/libs/toastr/toastr.min.js"></script>
<script src="/assets/libs/bootstrap-4.6.0/js/bootstrap.bundle.min.js"></script>
<script src="/assets/libs/isotope/isotope.pkgd.min.js"></script>
<script src="/assets/libs/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/assets/scripts/main.js?v=8"></script>

</body>
</html> 